@mixin badges($color) {
	background-color: $color;
	border: 3px solid darken($color, 10%);
	text-shadow: 0 1px 1px darken($color, 10%);
}

.badge {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 2px 1rem;
	border-radius: 15px;
	letter-spacing: 1px;
}

.badge-accent-dark {
	@include badges($accent-dark);
}

.badge-accent-light {
	@include badges($accent-light);
}
