.like-buttons {
	text-align: right;
	clear: both;
	margin: 2rem 0;
	.fb-like {
		margin-right: 0.5rem;
	}
}

[id*='plusone'] {
	float: right !important;
}

.btn {
	color: #fff;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	background-position: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	padding-top: 5px;
	padding-bottom: 5px;
	@extend .transition;

	&:hover, &:active, &:focus {
		color: #fff;
		.fa {
			transform: perspective(1px) scale(1.2);
		}
	}

	.fa {
		@extend .transition;
		transform: perspective(1px) scale(1);
		transform-origin: center center;
	}

	span {
		margin-left: 1rem;
	}
}

@mixin button($color) {
	background-color: $color;
	border-color: darken($color, 8%);
	background: linear-gradient($color, darken($color, 2%));
	text-shadow: 0 1px 1px darken($color, 10%);

	&:active {
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	}

	&:hover, &:active, &:focus, &:active:focus {
		background-color: darken($color, 10%);
		border-color: darken($color, 15%);
		background: linear-gradient($color, darken($color, 9%));
		outline: 0;	
	}
}

@mixin btn-round($size) {
	width: $size;
	height: $size;
	border-radius: 50%;
	text-align: center;
	padding: 0;
	font-size: $size/2;
	line-height: 3.7rem;
}

.btn-default {
	@include button($menu-bg);
}

.btn-transparent {
	@include button(transparent);
}

.btn-accent-light {
	@include button($accent-light);
}

.btn-accent-dark {
	@include button($accent-dark);
}

.btn-google {
	@include button(#d73d32);
}

.btn-fb {
	@include button(#3B5998);
}

.btn-round {
	@include btn-round(4rem);
}

.more-link {
	padding-right: 1.5rem;
	@extend .btn-default;
}

.hvr-icon-pulse {

	&.arrow {
		padding-right: 2rem;
		&:before {
			content: '\f105';
			right: 1rem;
		}
	}

	&.download {
		padding-left: 3rem;
		&:before {
			content: '\f019';
			left: 1rem;
			right: auto;
		}
	}

	&.external-link {
		padding-right: 3rem;
		&:before {
			content: '\f08e';
			right: 1rem;
			line-height: 1.7;
		}
	}

}

.nav-links {
	overflow: hidden;
    clear: both;
    padding: 1rem 0;
}

.nav-previous, .nav-next {
	a {
		@extend .btn-accent-light, .btn;
	}
}

.nav-next {
	float: left;
	clear: left;
}

.nav-previous {
	float: right;
	clear: right;
}

.social-buttons {
	text-align: center;
}

.button-list {
	text-align: center;
	margin-top: 2rem;
	.btn {
		display: inline-block;
    	margin: 3px;
	}
}