#cookies-message-container {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(darken($footer-bg, 15%), 0.95);
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.btn {
		float: right;
		clear: both;
	}
}

#cookies-message {
	font-size: 1.4rem;
}

.cookies-link {
	color: $body-bg;
}

.cookies-message-text {
	margin-bottom: 0;
}

@media (min-width: 600px) {
	#cookies-message-container {
		.btn {
			position: absolute;
    		right: 1.5rem;
    		top: 1.5rem;

		}
	}

	.cookies-message-text {
		margin-right: 100px;
	}
}
