#cookies-message-container {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(darken($footer-bg, 15%), 0.95);
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 220px;

	.btn {
		float: right;
		margin-top: 1rem;
	}
}

#cookies-message {
	font-size: 1.4rem;
	background-image: url("../images/icons/cookie.svg");
	background-size: 45px auto;
    background-repeat: no-repeat;
    background-position: 1rem bottom;
    padding: 0 1rem;
}

.cookies-link {
	color: $body-bg;

	&:hover {
		color: $accent-dark;
		text-decoration: none;
	}
}