// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
  border-color: $body-bg;
  background-color: $heading-bg;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-accent-dark;
}

.btn {
	@extend .transition;
}

.search-form {
	.search-field, .search-submit {
		height: 32px;
	}
}

