.gallery  {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@extend .row;
	margin-left: -10px;
	margin-right: -10px;
	&.gallery-columns-5, &.gallery-columns-6, &.gallery-columns-7, &.gallery-columns-8, &.gallery-columns-9 {
		margin-left: -5px;
		margin-right: -5px;
	}

}

.gallery-icon {
	@extend .transition;
	overflow: hidden;

	a {
		display: block;
	}

	img {
		padding: 2px;
		background-color: #FDEDD3;
		border-radius: 50%;
		border: 1px dashed $body-bg;
		@extend .transition;

	}

	@media (min-width: 1025px) {
		&:hover {
			img {
				border-radius: 0;
			}
			+ .gallery-caption {
				opacity: 1;
			}
		}
	}

	@media (max-width: 1024px) {
		img {
			border-radius: 0;
		}
		+ .gallery-caption {
			opacity: 1;
			padding: 4px 9px;
		}
	}
}

.gallery-caption {
	position: absolute;
	bottom: 2px;
	right: 12px;
	left: 12px;
	background-color: rgba($menu-bg, 0.8);
	color: #fff;
	font-size: 1.4rem;
	line-height: 1;
	opacity: 0;
	@extend .transition;
}

.gallery-item {
	display: inline-block;
	float: left;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
	margin-top: 1rem;

	@for $i from 1 to 15 {
	  &:nth-of-type(#{$i}) {
	  	//animation-delay: .5 + ( $i * 0.5s);
	  }
	}

	.gallery-columns-2 & {
		@extend .col-xs-6;
		padding-left: 10px;
		padding-right: 10px;
	}

	.gallery-columns-3 & {
		@extend .col-xs-4;
		padding-left: 10px;
		padding-right: 10px;
	}

	.gallery-columns-4 & {
		@extend .col-xs-3;
		padding-left: 10px;
		padding-right: 10px;
	}

	.gallery-columns-5 & {
		width: 20%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		.gallery-caption {
			right: 5px;
			left: 5px;
		}
	}

	.gallery-columns-6 & {
		@extend .col-xs-2;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		.gallery-caption {
			right: 5px;
			left: 5px;
		}
	}

	.gallery-columns-7 & {
		width: 14.28%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		.gallery-caption {
			right: 5px;
			left: 5px;
		}
	}

	.gallery-columns-8 & {
		width: 12.5%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		.gallery-caption {
			right: 5px;
			left: 5px;
		}
	}

	.gallery-columns-9 & {
		width: 11.1%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		.gallery-caption {
			right: 5px;
			left: 5px;
		}
	}

	@media (max-width: 991px) {
		min-width: 33.3333333333%;
	}

	@media (max-width: 767px) {
		min-width: 25%;
	}

	@media (max-width: 600px) {
		min-width: 33%;
	}

	@media (max-width: 400px) {
		width: auto;
		min-width: 50%;
		float: none;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.thumb {
	@extend .transition;
	position: relative;

	&:after {
		content: '\f00e';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		display: block;
		opacity: 0;
		color: #fff;
		font-family: 'fontawesome';
		font-size: 4rem;
		transition: all 0.2s ease-in-out;
		line-height: 0;
		-webkit-font-smoothing: antialiased;
	}

	img {
		max-width: 100%;
		height: auto;
		border: 1px solid $body-bg;
		padding: 2px;
		background-color: $heading-bg;
		margin: 0;
	}

	&:hover {
		background-color: #000;
		img {
			opacity: 0.9;
		}
		&:after {
			opacity: 0.8;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

@keyframes fadeInUpThumb {
  from {
    opacity: 0;
    //transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
   // transform: none;
  }
}