.menu {
	padding-left: 0;
	a {
		display: block;
	}

	li {
		list-style: none;
	}

	.sub-menu {
		padding-left: 2rem;
	}
}

.navbar-brand {
	padding: 3px 0;
	.logo-svg {
		height: 100%;
		width: auto;
		display: block;
	}

	&:hover {
		.logo-path {
			fill: $menu-color;
		}
	}
}

.navbar-default {
	border-width: 0;
	font-size: 1.8rem;
	font-family: $font-1;

	a {
		position: relative;
		backface-visibility: hidden;
		transform: translateZ(0);
  }

	.current-menu-item {
    background-color: $accent-light;
		> a {
      background-color: $accent-light;
      color: $body-color;
		}
	}

	.navbar-nav {
		> .current_page_ancestor {
      background-color: $accent-light;
			> a {
        background-color: $accent-light;
        color: $body-color;
			}
		}

		.menu-item {
			a {
				font-weight: 300;
			}
		}
	}
}

.navbar-nav {
	margin-top: 0;
  margin-bottom: 0;

	a {
    position: relative;
		backface-visibility: hidden;
    transform: translateZ(0);
  }

  .dropdown-menu {
    a {
      transition: background-color .4s ease;

      &:hover {
        background-color: rgba($heading-bg, .4);
      }
    }

    .current-menu-item {
      > a {
        background-color: rgba($heading-bg, .5) !important;
      }
    }
  }
}

.dropdown-menu {
	font-size: 1.8rem;
	padding: 0;
	border: 0;

	> li {
		> a {
			padding: 5px 15px;
		}
	}
}

.navbar-toggle {
	border: 0 none;
	margin-right: 0;
  padding: 9px 0;

	.icon-bar {
    width: 30px;

		+.icon-bar {
			margin-top: 5px;
		}
	}
}

.navbar-search-btn {
	line-height: 38px;
	color: $menu-color;
	font-size: 2rem;
	cursor: pointer;
  padding: 0;
  float: right;

  .fa {
    display: block;
    line-height: 38px;
  }

	&:hover {
		.fa {
			color: $accent-light;
		}
	}
}

.navbar-collapse {
	max-height: 100vh;
}
