.tablepress {
	border: 1px solid $body-bg;
	font-size: 1.5rem;
	line-height: 1.2;

	tfoot, thead {
	 	th {
	 		background-color: $body-bg;
	 		color: #fff;
	 		font-weight: 300;
	 		@extend .transition;

	 		&:not(:last-child) {
	 			border-right: 1px solid #fff;
	 		}
	 	}
	}

	tbody {

		td {
			border-color: $body-bg;
			vertical-align: middle;

			&:not(:last-child) {
				border-right: 1px solid $body-bg;
			}

		}
	}

	.sorting_desc, .sorting_asc, .sorting:hover {
		background-color: $footer-bg;
	}

	td, th {
		padding: 3px 8px;
	}

	.odd {
		td {
			background-color: darken($heading-bg, 3%);
		}
	}

	.even {
		td {
			background-color: $heading-bg;
		}
	}

	.row-hover {
		tr {
			&:hover {
				td {
					background-color: rgba(#fff, 0.7);
				}
			}
		}
	}
	caption {
		display: none;
	}
}

.tables-sources {
	border-bottom: 1px dashed $body-bg;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

	a {
		display: block;
	}

}