.custom-widget {

}

.widget-title {
	margin-bottom: 2rem;
}

.widget-body {
	text-align: center;
	margin-bottom: 3rem;
}

.widget-img-link {
	display: inline-block;
	margin-bottom: 1rem;
	position: relative;
	backface-visibility: hidden;
	transform: translateZ(0);
	&:before {
		content: '';
		position: absolute;
		top: 2px;
		right: 2px;
		left: 2px;
		bottom: 2px;
		background-color: rgba(#000, 0.65);
		opacity: 0;
		@extend .transition;
	}
	img {
		max-width: 100%;
		height: auto;
		display: block;
		border: 1px solid $body-bg;
		padding: 2px;
		background-color: $heading-bg;
	}
	.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	&:hover {
		&:before, .btn {
			opacity: 1;
		}
	}
}

.widget-partners {

}

.widget-books {
	img {

	}
}

.widget-slider {
	position: relative;
	background-color: transparent;
	border-radius: 0;
	border: 0 none;
	min-height: 310px;
	.widget-img-link {
		margin-bottom: 0;
	}
}

.widget-ceneo {
	text-align: center;
	a {
		margin: 4px;
    	@extend .btn;
		@include button($accent-dark);
	}
}