body {
	font-size: 1.6rem;
	font-family: 'Dosis', sans-serif;
	padding-top: 38px;
	color: $body-color;
	font-weight: 300;
	background-color: $body-bg;
	text-rendering: optimizeLegibility;
}

.wrap {
	margin-bottom: 2rem;
	margin-top: 2rem;

	.container {
		background-color: $sidebar-bg;
	}
}

.main {
	padding-bottom: 2rem;
	padding-top: 2rem;
	background-color: $content-bg;
	border-right: 1px solid $body-bg;

	h2 {
		margin-top: 3rem;
	}
	a:not(.btn) {
		font-weight: 400;
		text-decoration: underline;

		&:hover {
			color: $accent-dark;
		}
	}
}

.page-header {
	margin: 0 0 1rem 0;
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		border: 1px solid $body-bg;
		text-align: center;
		color: $heading-color;
		padding: 0.4rem;
		background-color: $heading-bg;
	}
}


.page-template-default, .single-kielki, .sidebar {
	h2 {
		margin-bottom: 1rem;
		border: 1px solid $body-bg;
		text-align: center;
		color: $heading-color;
		padding: 0.4rem;
		background-color: $heading-bg;
	}
}

h1, h2, h3, h4, h5 {
	clear: both;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.9rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.7rem;
}

a {
	@extend .transition;
	&:hover, &:active, &:focus {
		outline: 0;
	}
}

hr {
	clear: both;
	border-top: 1px dashed $body-bg;
	margin-bottom: 1rem;
}

.menu {
	a {
		display: block;
	}
	li {
		list-style: none;
	}
	.sub-menu {
		padding-left: 2rem;
	}
}

.wow {
   visibility: hidden;
}