// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//$brand-primary:         #27ae60;

$body-bg: #cc9e54;
$body-color: #52442E;
$content-bg: #fcdba4;

$menu-bg: #a9b45c;
$menu-color: #F7FFEA;
$menu-active-color: #f9fbc3;

$menu-side-bg: #ffffcc;
$menu-side-color: #454923;

$heading-color: #8f6a2c;

$footer-bg: #52442E;

$btn-accent: #ffae1a;

//test

$menu-bg: #77bd3e;// #61A949;
$content-bg: #FFF1DA;
$body-bg: #fcdba4; //darken($content-bg, 35%);
$heading-bg: lighten($content-bg, 5%);


.transition {
	transition: all 0.15s ease;
}


// Bootstrap variables

$component-active-color: #fff !default;
$component-active-bg: darken($menu-bg, 8%) !default;

$border-radius-base:        0 !default;
$border-radius-large:       0 !default;
$border-radius-small:       0 !default;

//** Background for the dropdown menu.
$dropdown-bg:                    rgba(darken($menu-bg, 5%), 0.9); //$menu-bg !default;
$dropdown-border:                darken($menu-bg, 10%) !default;
$dropdown-fallback-border:       darken($menu-bg, 10%) !default;
$dropdown-divider-bg:            darken($menu-bg, 10%) !default;

//** Dropdown link text color.
$dropdown-link-color:            #fff !default;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         transparent; //darken($menu-bg, 8%) !default;


// Navbar
$navbar-height:                    38px !default;
$navbar-default-color:             $menu-active-color !default;
$navbar-default-bg:                transparent; //$menu-bg !default;
$navbar-default-border:            transparent; //$menu-bg;

// Navbar links
$navbar-default-link-color:                $menu-color !default;
$navbar-default-link-hover-color:          $menu-color;
$navbar-default-link-hover-bg:             transparent; //darken($menu-bg, 8%) !default;
$navbar-default-link-active-color:         $menu-color;
$navbar-default-link-active-bg:            transparent; //darken($menu-bg, 8%) !default;
$navbar-default-link-disabled-color:       transparent !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent; //darken($navbar-default-bg, 8%) !default;
$navbar-default-toggle-icon-bar-bg:        $menu-color !default;
$navbar-default-toggle-border-color:       $menu-color !default;

$navbar-margin-bottom: 0;

$link-color: $menu-bg;
$link-hover-color: darken($menu-bg, 10%) !default;

$btn-default-color:              #fff !default;
$btn-default-bg:                 $menu-bg !default;
$btn-default-border:             darken($menu-bg, 5%) !default;

$input-border: $menu-bg;

$page-header-border-color: transparent;

.sidebar .menu a {
	@extend .hvr-wobble-horizontal;
	}