.post-type-archive-ksiazki, .single-ksiazki {
	.page-header {
		margin-bottom: 0;

		+ article {
			padding-top: 0;
		}
	}

	.entry-content {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
	}

	article {
		&:not(:last-of-type) {
			border-bottom: 1px dashed $body-bg;
		}

		+ article {
			padding-top: 1.5rem;
		}
	}

	.entry-title {
		margin-top: 0;

		a {
			color: $body-color;
			text-decoration: none;
			padding-right: 3rem;

			&:before {
				line-height: 1.8;
    			font-size: 1.4rem;
			}
		}
	}

	.book-thumb {
		width: 100%;
		max-width: 100%;
		margin: 0;
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
			transition: all 0.4s;
		}

		&:hover {
			img {
			}
		}
	}

	.description {
		font-size: 1.5rem;

		@media (min-width: 768px) {
			overflow: hidden;
		}
	}

	.more-link {
		float: right;
		clear: both;
	}

}

.ksiazki {
	.badge {
		float: right;
		margin-bottom: .5rem;
	}
}

.author {
	font-style: italic;
	margin-top: 0;
	font-size: 1.4rem;
}

@media (max-width: 620px) {
	.item-book {
		.entry-content {
			.book-image, .description {
				width: 100%;
			}

			.book-thumb {
				text-align: center;
			}

			.entry-title {
				text-align: center;
			}

			.description {
				margin-top: 2rem;

				.author {
					margin-bottom: 2rem;
					text-align: center;
				}

			}
		}

		.badge {
			display: inline-block;
    		margin-top: 1rem;
    		float: none;
		}
	}
}

@media (min-width: 621px) {
	.item-book {
		.description {
			padding-left: 0;
		}

		.entry-title {
			a {
				margin-bottom: 1rem;
				float: left;
				clear: left;
			}
		}
	}
}
