.post-type-archive-ksiazki {
	.page-header {
		margin-bottom: 0;
		+ article {
			padding-top: 0;
		}
	}
	.entry-content {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
	}

	article {
		padding-top: 2rem;
		&:not(:last-of-type) {
			border-bottom: 1px dashed $body-bg;
		}
	}

	.entry-title {
		margin-top: 0;
		a {
			color: $body-color;
			text-decoration: none;
		}
	}

	.book-thumb {
		width: 100%;
		max-width: 100%;
		margin: 0;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.description {
		text-align: justify;
		font-size: 1.5rem;
		padding-left: 0;

		@media (min-width: 768px) {
			overflow: hidden;
		}
	}

	.more-link {
		float: right;
		clear: both;
	}

}

.ksiazki {
	.badge {
		float: right;
	}
}

.author {
	font-style: italic;
	margin-top: 0;
	font-size: 1.4rem;
}