.post-type-archive-ksiazki, .single-ksiazki {
	.page-header {
		margin-bottom: 0;

		+ article {
			padding-top: 0;
		}
	}

	.entry-content {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
	}

	article {
		padding-top: 2rem;

		&:not(:last-of-type) {
			border-bottom: 1px dashed $body-bg;
		}
	}

	.entry-title {
		margin-top: 0;

		a {
			color: $body-color;
			text-decoration: none;
			margin-bottom: 1rem;
			float: left;
			clear: left;
			padding-right: 3rem;

			&:before {
				line-height: 1.8;
    			font-size: 1.4rem;
			}
		}
	}

	.book-thumb {
		width: 100%;
		max-width: 100%;
		margin: 0;
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
			transition: all 0.4s;
		}

		&:hover {
			img {
			}
		}
	}

	.description {
		text-align: justify;
		font-size: 1.5rem;
		padding-left: 0;

		@media (min-width: 768px) {
			overflow: hidden;
		}
	}

	.more-link {
		float: right;
		clear: both;
	}

}

.ksiazki {
	.badge {
		float: right;
		margin-bottom: .5rem;
	}
}

.author {
	font-style: italic;
	margin-top: 0;
	font-size: 1.4rem;
}