.accordion-header {
	cursor: pointer;
	background-color: $heading-bg;
	padding: .5rem 3rem .5rem 1rem;
    border: 1px solid $body-bg;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    @extend .transition;

	.fa {
		position: absolute;
		color: $body-bg;
		right: 1rem;
		top: 50%;
		transform: translate(0, -50%);
    	font-size: 2.5rem;
    	transform-origin: 50%;
    	line-height: 20px;
    	@extend .transition;
	}

	&:hover {
		color: $accent-dark;
		.fa {
			color: $accent-dark;
			transform: translate(0, -50%) rotate(90deg);
		}
	}
}

.accordion-content {
	padding: 1rem 1.2rem;
}

.accordion-open {
	.accordion-header  {
		.fa {
			color: $accent-dark;
			transform: translate(0, -50%) rotate(90deg);
		}
	}
}