footer {
	background-color: $footer-bg;

	.container {
		color: #fff;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	section {
		margin-bottom: 2rem;
	}

	a {
		color: #fff;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.6rem;
		color: $body-bg;
	}

	.menu {
		padding: 1rem 1.5rem;
		line-height: 1.8;
		@extend .footer-box;

		a {
			color: $heading-bg;
			text-decoration: none;
			position: relative;
			@extend .transition;

			&:before {
				content: '\f105';
				font-family: 'fontawesome';
				margin-right: 5px;
				color: $body-bg;
				@extend .transition;
			}

			&:hover {
				//color: $body-bg;
				&:before {
					margin-right: 10px;
					color: $accent-dark;
				}
			}
		}
	}

	.profile {
		margin-bottom: 2rem;
		overflow: hidden;
		@extend .footer-box;

		&.g-plus {
			> div {
				display: block !important;
				max-width: 100%;
			}
		}
	}
}

.footer-box {
	background-color: rgba(255,255,255,0.08);
	box-shadow: 4px 4px rgba(darken($footer-bg, 8%), 0.7);
	border: 1px solid darken($footer-bg, 5%);
}

.copyright {
	color: $heading-bg;
	a {
		color: $body-bg;
		&:hover {
			text-decoration: none;
			color: $accent-dark;
		}
	}
}

.footer-bottom {
	background-color: darken($footer-bg, 8%);
}

.footer-navlinks {
	text-align: right;
	a {
		color: $sidebar-bg;
		margin-left: 2rem;
		text-decoration: none;
		&:hover {
			color: $accent-dark;
		}
	}
}

.arrows {
	position: fixed;
	bottom: 4rem;
	right: 3rem;
	font-size: 5rem;

	a {
		display: block;
		color: $content-bg;
		line-height: 3rem;
		&.active, &:hover {
			color: $accent-dark;
		}
	}

	.fa {
		&:before {
			line-height: 0;
		}

	}


}