footer {
	background-color: $footer-bg;

	.container {
		color: #fff;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	section {
		margin-bottom: 2rem;
	}

	a {
		color: $heading-bg;
		text-decoration: none;
		text-shadow: 0 1px 1px darken($footer-bg, 8%);
		&:hover {
			text-decoration: none;
			color: $accent-dark;
		}
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.6rem;
		color: $body-bg;
	}

	.menu {
		padding: 1rem 1.5rem;
		line-height: 1.8;
		@extend .footer-box;

		a {
			color: $heading-bg;
			text-decoration: none;
			position: relative;
			@extend .transition;

			&:before {
				content: '\f105';
				font-family: 'fontawesome';
				margin-right: 5px;
				color: $body-bg;
				@extend .transition;
			}

			&:hover {
				color: $heading-bg;
				&:before {
					margin-right: 10px;
					color: $accent-dark;
				}
			}
		}
	}

	.profile {
		margin-bottom: 2rem;
		overflow: hidden;
		@extend .footer-box;

		&.g-plus {
			> div {
				display: block !important;
				max-width: 100%;
			}
		}
	}

	.social-buttons {
		text-align: right;
		.btn {
			margin-left: 1rem;
		}
	}
}

.footer-extras {
	background-color: darken($footer-bg, 5%);
	border-top: 3px solid darken($footer-bg, 8%);
	border-bottom: 3px solid darken($footer-bg, 8%);
	.search-form {
		margin-top: 0.5rem;
	}
	.search-field {
		background-color: $content-bg;
		color: darken($footer-bg, 8%);
	}
}

.email-me {
	text-transform: uppercase;
}

.footer-box {
	background-color: rgba(255,255,255,0.08);
	box-shadow: 4px 4px rgba(darken($footer-bg, 8%), 0.7);
	border: 1px solid darken($footer-bg, 5%);
}

.copyright {
	color: $heading-bg;
	a {
		color: $body-bg;
		&:hover {
			text-decoration: none;
			color: $accent-dark;
		}
	}
}

.footer-bottom {
	background-color: darken($footer-bg, 5%);
	border-top: 3px solid darken($footer-bg, 8%);
	border-bottom: 3px solid darken($footer-bg, 8%);
}

.footer-navlinks {
	text-align: right;
	a {
		color: $sidebar-bg;
		margin-left: 2rem;

		&:hover {
			color: $accent-dark;
		}
	}
}

.arrows {
	position: fixed;
	bottom: 6.5rem;
	right: 2rem;
	width: 8rem;
	height: 8rem;

	a {

		opacity: 0.6;
		position: absolute;
		top: 0;
		right: 0;
	    bottom: 0;
	    left: 0;
		transition: opacity 0.4s ease;
		display: none;

		&.active {
			display: block;
			.scroll-arrow {

			}
		}

		&:hover {
			opacity: 1;
		}

		&.active, &:hover {
			color: $accent-dark;
		}
	}

	.scroll-top {
		.scroll-arrow {
			transform: rotate(180deg);
		}
	}

}

.scroll-arrow {
	height: 100%;
	width: 100%;
	&:hover {
		.scroll-arrow-path {
			fill: $accent-dark;
		}
	}
}

