header {
	//background-color: rgba($menu-bg, 0.95);
	background-color: rgba($menu-bg, 0.95);
	background: linear-gradient(rgba($menu-bg, 0.95), rgba(darken($menu-bg, 5%), 0.95));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	//box-shadow: 0 2px 2px rgba(#000, 0.3);
	border-bottom: 1px solid darken($menu-bg, 10%);
}

.tag-header:first-letter {
	text-transform: uppercase;
}