@media (min-width: 600px) {
	.search-results {

		.hentry {
			display: flex;
			align-items: center;
			position: relative;
		}

		.entry-title {
			flex: 1;
			margin-top: 0;
			padding-right: 1rem;
			text-align: center;
		}

		.entry-summary {
			flex: 2.5;
			margin-bottom: 2rem;
			.more-link {
				position: absolute;
			    bottom: 10px;
			    right: 0;
			}
		}
	}

	.tablepress {
		font-size: 1.6rem;

		td {
			width: 33.3%;
		}
	}
}

@media (min-width: 768px) {

	.navbar-default {
		a {
			&:before {
				content: '';
			}
		}
	}

	.content {
		display: flex;
	}

	.sidebar {
		.menu {
			a {
				&:before {
					content: '';
				}
			}
		}
	}

	.dropdown {
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
	}

	.navbar-nav {
		> li, li.open {
			> a {
				border-left: 1px solid rgba($menu-color, .3);
			}
		}
	}

	.navbar-search-btn {
		right: 0;
	}

	.header-search {
		min-width: 241px;
		right: 15px;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.img-compare {
		height: 140px;
	}
	.widget_text {
		margin-bottom: 4rem;
	}
}

@media (min-width: 992px) {

	.search-submit {
		position: absolute;
		right: 15px;
	}

	.header-search {
		min-width: 236px;
		max-width: 236px;
	}
}

@media (min-width: 1200px) {

	.img-compare {
		height: 251px;
	}

	.header-search {
		max-width: 286px;
	}
}

@media (max-width: 767px) {

	.navbar-nav {
		text-align: center;
		.open {
			> a {
				color: $accent-light;
			}
			background-color: darken($menu-bg, 10%);
			.dropdown-menu {
				> li {
					> a {
						text-align: center;
						line-height: 30px;
						padding-left: 15px;
					}
				}
			}
		}
	}

	footer {
		.profile {
			display: inline-block;
			max-width: 100%;
		}

		.widget_text {
			text-align: center;
			margin-bottom: 4rem;
			width: 100%;
		}

		.submenu-sprouts {
			display: none;
		}
	}

	.img-compare {
		min-height: 24vw;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.img-compare {
		height: 206px;
	}
}

@media (max-width: 479px) {
	.post-type-archive-ksiazki {
		.description {
			.btn {
				float: right;
			}
		}
	}
}

@media (max-width: 420px) {
	.main {
		.thumb {
			//float: none;
			img {
				//margin-bottom: 1rem;
				margin: 0 auto 1rem;
    			display: block;
			}
		}
	}
	.footer-widget {
		width: 100%;
	}
}