@media (min-width: 600px) {
	.search-results {

		.hentry {
			display: flex;
			align-items: center;
			position: relative;
		}

		.entry-title {
			flex: 1;
			margin-top: 0;
			padding-right: 1rem;
			text-align: center;
		}

		.entry-summary {
			flex: 2.5;
			margin-bottom: 2rem;
			.more-link {
				position: absolute;
			    bottom: 10px;
			    right: 0;
			}
		}
	}

	.tablepress {
		font-size: 1.6rem;

		td {
			width: 33.3%;
		}
	}
}

@media (min-width: 768px) {

	.navbar-default {
		a {
			&:before {
				content: '';
			}
    }
  }

	.content {
		display: flex;
	}

	.sidebar {
		.menu {
			a {
				&:before {
					content: '';
				}
			}
		}
	}

	.navbar-nav {
    > li {
			> a {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          bottom: 10px;
          border-right: 1px solid $menu-color;
          opacity: .5;
        }
      }

      &:hover,
      &:focus,
      &.active,
      &.open,
      &.current-menu-parent {
        > a {
          &:before {
            opacity: 0;
          }
        }

        + li {
          > a {
            &:before {
              opacity: 0;
            }
          }
        }
      }
		}
	}

	.navbar-search-btn {
		right: 0;
	}

	.header-search {
		min-width: 241px;
		right: 15px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
  .dropdown-menu {
    .menu-item-object-kielki {
      width: 49%;
      display: inline-block;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.img-compare {
		height: 140px;
	}
	.widget_text {
		margin-bottom: 4rem;
	}
}

@media (min-width: 992px) {

	.search-submit {
		position: absolute;
		right: 15px;
	}

	.header-search {
		min-width: 236px;
		max-width: 236px;
	}
}

@media (min-width: 1200px) {

	.img-compare {
		height: 251px;
	}

	.header-search {
		max-width: 286px;
	}
}

@media (max-width: 767px) {
	.navbar-nav {
    text-align: center;

		.open {
      background-color: $accent-light;

			.dropdown-menu {
				> li {
					> a {
            padding-left: 15px;
					}
				}
			}
    }
  }

  .submenu-sprouts {

  }

  .dropdown-menu {
    padding: 15px 0;

    a {
      text-align: center;
    }

    .menu-item-object-kielki {
      width: 50%;
      display: inline-block;

      a {
        white-space: normal;
      }
    }

    .submenu-sprouts.open & {
        display: flex;
        flex-wrap: wrap;
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $body-color;
  }

	footer {
		.widget_text {
			text-align: center;
			margin-bottom: 4rem;
			width: 100%;
		}

		.submenu-sprouts {
			display: none;
		}
	}

	.img-compare {
		min-height: 24vw;
	}
}

@media (max-width: 991px) {
  footer {
    .profile {
			max-width: 500px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
		}
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.img-compare {
		height: 206px;
	}
}

@media (max-width: 479px) {
	.post-type-archive-ksiazki {
		.description {
			.btn {
				float: right;
			}
		}
	}
}

@media (max-width: 420px) {
	.main {
		.thumb {
			img {
				margin: 0 auto 1rem;
    		display: block;
			}
		}
	}
	.footer-widget {
		width: 100%;
	}
}
