@media (min-width: 768px) {

	.navbar-default {
		a {
			&:before {
				content: '';
			}
		}
	}

	.sidebar {
		.menu {
			a {
				&:before {
					content: '';
				}
			}
		}
	}

	.dropdown {
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
	}

	.navbar-nav {
		> li, li.open {
			> a {
				border-left: 1px solid rgba($menu-color, 0.3);
			}
		}
	}
	.navbar-search-btn {
		right: 0;
	}

	.header-search {
		min-width: 250px;
	}
}

@media (min-width: 992px) {

	.search-form {
		.search-field {
			//width: 228px;
		}
	}

	.search-submit {
		position: absolute;
		right: 15px;
	}

	.header-search {
		min-width: 242px;
	}
}

@media (min-width: 1200px) {
	.search-form {
		.search-field {
			//width: 295px;
		}
	}

	.img-compare {
		height: 251px;
	}
}

@media (max-width: 767px) {

	.navbar-nav {
		text-align: center;
		.open {
			.dropdown-menu {
				background-color: rgba(#fff, 0.1);
				>li {
					>a {
						text-align: center;
						line-height: 30px;
						padding-left: 15px;
					}
				}
			}
		}
	}

	.footer-widget {
		&.widget_text {
			min-width: 100%;
		}
	}

	footer {
		.profile {
			display: inline-block;
		}

		.widget_text {
			text-align: center;
		}
	}


}

@media (min-width: 768px) and (max-width: 991px) {
	.img-compare {
		height: 140px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.img-compare {
		height: 206px;
	}
}