.post-type-archive-ksiazki {
	.page-header {
		margin-bottom: 0;
		+ article {
			padding-top: 0;
		}
	}
	.entry-content {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
	}

	article {
		padding-top: 2rem;
		&:not(:last-of-type) {
			border-bottom: 1px dashed $body-bg;
		}
	}

	.entry-title {
		margin-top: 0;
		a {
			color: $body-color;
		}
	}

	.book_thumb {
		float: left;
		width: 220px;
		margin-right: 2rem;
		margin-bottom: 1rem;
		@media (max-width: 1200px) {
			width: 160px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}

	.description {
		text-align: justify;
		font-size: 1.5rem;
		@media (min-width: 768px) {
			overflow: hidden;
		}
	}

	.more-link {
		float: right;
		clear: both;
	}

}

.twentytwenty-overlay {
	display: none;
}

.twentytwenty-container {
	img {
		width: 100%;
		height: auto;
	}
}

.author {
	font-style: italic;
	margin-top: 0;
}

.single-kielki {
	.page-header {
		margin-bottom: 0;
	}
}