.single-kielki {
	.page-header {
		margin-bottom: 0;
	}
}

.img-compare {
	margin-bottom: 2rem;
}

.kielki-wskazowki {
	margin-top: 2rem;
}

.kielki-wartosci {
	strong {
		text-decoration: underline;
		display: block;
		margin-top: 2rem;
	}
}

.twentytwenty-overlay {
	display: none;
}

.twentytwenty-container {
	img {
		width: 100%;
		height: auto;
	}
}
