.single-kielki {
	.page-header {
		margin-bottom: 0;
	}
	.tables-link {
	    float: right;
	    margin-top: 3rem;
	    margin-bottom: 1rem;
	    clear: both;
	}
}

.img-compare {
	margin-bottom: 2rem;
}

.img-compare-caption {
	position: absolute;
	bottom: 0;
	z-index: 25;
	margin-bottom: 0;
	padding: 0 0.5rem;
	font-size: 1.2rem;
	color: #fff;

	&.caption-right {
		right: 0;
	}

	&.caption-left {
		left: 0;
	}
}

.kielki-wskazowki {
	@media (max-width: 480px) {
		.col-xs-6 {
			width: 100%;
		}
		strong {
			text-decoration: underline;
			margin-top: 2rem;
		}
	}
}

.kielki-wartosci {
	strong {
		text-decoration: underline;
		display: block;
		margin-top: 2rem;
	}
}

.twentytwenty-overlay {
	display: none;
}

.twentytwenty-container {
	img {
		width: 100%;
		height: auto;
		top: 50%;
		transform: translate(0, -50%);
	}
}
